body{
    margin: 0 auto;
}
main{
    margin: 0 auto;
    background-image: url(../images/cosmic_IMG.jpg) ;
    width: 850px;
    height: 450px;
    text-align: center;
}
section{
    justify-content: center;
    height: 324px;
    display: flex;
    
}
article{
    margin: 2px 20px;
    text-align: center;
    width: 270px;
    height: 324px;
    background: lightslategrey;

}