main{
    margin: 0 auto;
    width: 850px ;
    height: 450px ;
  
    text-align: center;
}
body{
    margin: 0 auto;
    display: inline-block;
   
}
section{
    display: flex;
    height: 324px;
    justify-content: center ;
}
article{
    text-align: center;
    width: 270px;
    height: 324px;
    background: lightslategrey ;
    justify-content: 
    

}