body{background-color: grey;
    height: 100vh;
    width: 100vw;
    background-image: url(../images/Image2.jpg);
    

}
h1{ text-align:  center;
    text-decoration-line: underline;
    text-decoration-style: bold;
    font-size: 25px;
}
h2{ background-color: darkgrey;
    border: 1px solid black;
    background-size: 10px 50px;
    padding-right: 20px;
}