body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_pic/00/15/30/4656e81f6dc57c5.jpg);
    background-repeat: no-repeat;
    background-size: 100% 175%;
    height: 100vh;
    width: 100vw;
  }
  
  .logo {
    width: 30%;
    margin: 3% 10%;
  }
  
  header {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
  }
  
  main { 
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }
  
  nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: 15%;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    text-align: center;
    border: 2px solid white;
  }
  
  .has-border {
    border-radius: 25px;
    border: 2px solid #000000;
    background: none;
    padding: 20px; 
    animation: bounce 10s ease-in-out 2s ;
  }
  @keyframes bounce{
    10% {background: grey;   color: white;         text-align: left;    font-size: smaller}
    20% {background:red;     color: whitesmoke;    text-align:right;    font-size: x-small }
    30% {background:orange;  color: grey;          text-align:unset;    font-size: large}
    40% {background:yellow;  color: darkslategrey; text-align:end;      font-size: medium}
    50% {background: green;  color: darkblue;      text-align: inherit; font-size: unset } 
    75% {background: blue;   color: maroon;        text-align: initial; font-size: xx-large}
    100%{background: purple; color: blue;          text-align: center;  font-size: inherit}
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  #profile-pic {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    margin: 15% auto;
    grid-column: 2/3;
  }
  
  h1 {
    color:white;
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 2px solid #1940A9;
    animation: scribble 5s ease-in 10s;
  }
  @keyframes scribble{
    10%{font-size: xx-small;}
    20%{font-size: x-small;}
    30%{font-size: smaller;}
    40%{font-size: small;}
    50%{font-size: medium;}
    60%{font-size:large;}
    70%{font-size:larger;}
    80%{font-size: x-large;}
    90%{font-size: xx-large;}
    100%{font-size: inherit;}
  }
  
  h2 {
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
  }
  
  button {
    grid-column: 2/3;
    margin: 3% auto;
    width: 70%;
    height: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: coral;
    padding: 20px; 
    padding-bottom: 5%;
    text-align: center;
    color: white;
    letter-spacing: 16px;
    font-style: italic;
  }
/* Extra Small and up (Portrait Phones) */

/* Small and up (Landscape Phones) */
@media (max-width: 576px) {
  .has-border {
    border-radius: 25px;
    border: 2px solid #000000;
    background: none;
    padding: 20px; 
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
}

/* Medium and up (Tablets) */
@media (max-width: 768px) {
  .has-border {
    border-radius: 25px;
    border: 2px solid #000000;
    background: none;
    padding: 20px; 
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
}

/* Large and up (Desktops) */
@media (max-width: 992px) {
  .has-border {
    border-radius: 25px;
    border: 2px solid #000000;
    background: none;
    padding: 20px; 
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
}

/* Extra Large and up (Wide Screen Desktops) */
@media (max-width: 1350px) {
  body{
    background: aquamarine
  }
  .has-border {
    border-radius: 15px;
    border: 2px solid #000000;
    background: none;
    padding: 20px; 
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    width: 200%;
  }
  
}